#配置文件
spring:
  profiles:
    active: dev
  main:
    banner-mode: "off"
  datasource: 
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/info?characterEncoding=utf8&useSSL=true
    username: root
    password: 123456
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 5000
    pool:
      max-idle: 100
      min-idle: 1
      max-active: 1000
      max-wait: -1

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.xinfuli.yy.demo.domain
  
my: 
  version: ${random.value}
  number: ${random.int}
  bigNumber: ${random.long}
  less: ${random.int(10)}
  range: ${random.int[1024,65536]}